#MAKE A COPY and RENAME as ".env"

CHUNK_SIZE=500
CHUNK_OVERLAP=100
DOCS_FOLDER="pdfs/"
REDIS_URL="redis://redis:6379"

# defaults to ~/.aws/config (in user HOME) so make it project specific with current folder
AWS_CONFIG_FILE=.aws/config